/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;

}

.SudokuBoard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1px;
  /* Additional styles for the board */
}

.control-panel, .difficulty-selector {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: center;
  margin-top: 20px;
}


/* .difficulty-selector select{
  position: absolute;
  margin-top: 5px;
 
} */
/* Wrap both Sudoku board and solver steps animation */
.board-and-animation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



@media (max-width: 600px) {
  .board-and-animation-container {
    flex-direction: column;
  }
}