/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the space between components */
}

.SudokuBoard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1px;
  /* Additional styles for the board */
}

.control-panel {
  display: flex;
  gap: 10px; /* Space between buttons */
  /* Additional styling for the control panel */
}

/* Assuming you might add a class to wrap the DifficultySelector for styling */
.difficulty-selector {
  display: flex;
  gap:10px;
  margin-top: 20px;
 
}

